<div class="container">
  <h4 class="thin">Edit <%= @lipstick.shade %></h4>

  <form action="/lipsticks/<%= @lipstick.id %>" method="POST">
    <label>Lipstick Shade</label>
    <input type="text" name="shade" value="<%= @lipstick.shade %>">

    <label>Lipstick Brand</label>
    <input type="text" name="brand" value="<%= @lipstick.brand %>">

    <label>Which Makeup Bag does this belong in? </label><br><br>
    <select name="makeupbag_id" value="makeupbag_id">
      <option value="makeupbag_id">
      <% current_user.makeup_bags.each do |bag| %>
      <option value=<%=bag.id%> <%= "selected" if bag.id ==@lipstick.makeupbag_id%><%= bag.name%>></option>
      <% end %>
    </select>

    <button class="btn waves-effect waves-light" type="submit" name="action">Update
    <i class="material-icons right">mode_edit</i>
  </button>

  </form>

</div>
